.video-thumb {
  text-align: center;
  margin-bottom: 20px;
  border: 5px solid transparent;
  height: 250px;

  &.video-active {
    background-color: white;
    color: black;
  }

  &__title,
  &__anime {
    margin: 3px;
  }

  &__thumb {
    height: 160px;
    width: 350px;
  }
}
