@import '../style/mixins';

.vertical-list {
  width: 400px;
  padding: 150px 25px 0 25px;
  float: right;
  border-left: 5px solid white;
  @include transition(transform .4s ease-in-out);
  @include transition(-webkit-transform .4s ease-in-out);
}
